<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.BookMapper">
    <resultMap id="baseResultMap" type="com.entity.book">
        <id column="book_id" property="bookId" jdbcType="INTEGER"/>
        <result column="book_name" property="bookName" jdbcType="VARCHAR"/>
        <result column="book_kind" property="bookKind" jdbcType="VARCHAR"/>
        <result column="book_described" property="bookDescribed" jdbcType="VARCHAR"/>
        <result column="book_author_wid" property="bookAuthorWid" jdbcType="INTEGER"/>
    </resultMap>
    <insert id="AddBook" parameterType="com.entity.book">
         insert  into
         book (book_name, book_kind, book_described, book_author_wid)
         VALUE (#{bookName},#{bookKind},#{bookDescribed},#{bookAuthorWid})
    </insert>
    <select id="IsexitsBookName" parameterType="String" resultMap="baseResultMap">
        select  * from  book where book_name=#{bookName}
    </select>
    <select id="Count" resultType="Integer">
        select  count(book_id) from  book
    </select>
    <select id="AnyBook" parameterType="Integer" resultMap="baseResultMap">
        select *  from  book
        limit #{start},#{pagesize}
    </select>
    <select id="getBookByworker" parameterType="integer" resultMap="baseResultMap">
        select  * from  book
        where  book_author_wid=#{wid}
    </select>
    <delete id="delBookInBook" parameterType="integer">
        delete  from  book
        where  book_id=#{bId}
    </delete>
</mapper>