<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.BookChaptersMapper" >

 <insert id="AddChapters" parameterType="com.entity.book_chapters">
     insert  into
     book_chapters(bc_id,b_id,c_num,c_content,b_wid,bc_state_id)
     value (#{bcId},#{bId},#{cNum},#{cContent},#{bWid},#{bcStateId})
 </insert>
</mapper>