<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mapper.WorkerMapper" >
<select id="WorkerLogin" parameterType="String" resultType="com.entity.worker">
    select  * from worker
    where waccount=#{waccount} and  wpassword=#{wpassword}
</select>
    <select id="IsexistAccount" parameterType="String" resultType="com.entity.worker" >
        select  * from  worker
        where waccount=#{waccount}
    </select>
    <select id="IsexistName"  resultType="com.entity.worker" parameterType="String">
        select * from worker
        where wname=#{wname};
    </select>
    <insert id="AddWorker" parameterType="com.entity.worker" >
        insert  into
        worker(wname, wpassword, waccount)
        value (#{wname}, #{wpassword}, #{waccount})
    </insert>
  <select id="AllWorker" resultType="com.entity.worker">
     select  * from  worker
 </select>
    <delete id="DelWorker" parameterType="Integer">
    delete  from  worker where wid=#{wid}
 </delete>
    <select id="Count" resultType="Integer">
        select  count(wid) from  worker
    </select>
    <select id="AnyWorker" resultType="com.entity.worker" parameterType="Integer">
           select  * from  worker
           limit #{start},#{pageSize}
    </select>
    <update id="updateWorker" parameterType="com.entity.worker">
        update  work set
         wname=#{wname},
         wpassword = #{wpassword}
         where wid= #{wid}
    </update>
</mapper>